body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:45px;
  width:865px;
  height:75px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:5px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:31px;
}
#u3 {
  position:absolute;
  left:110px;
  top:0px;
  width:550px;
  height:30px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:5px;
  top:6px;
  width:540px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u5 {
  position:absolute;
  left:660px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:5px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u7 {
  position:absolute;
  left:760px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:5px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:40px;
}
#u10 {
  position:absolute;
  left:5px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:41px;
}
#u11 {
  position:absolute;
  left:110px;
  top:30px;
  width:550px;
  height:40px;
  text-align:left;
}
#u12 {
  position:absolute;
  left:5px;
  top:10px;
  width:540px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u13 {
  position:absolute;
  left:660px;
  top:30px;
  width:100px;
  height:40px;
}
#u14 {
  position:absolute;
  left:5px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u15 {
  position:absolute;
  left:760px;
  top:30px;
  width:100px;
  height:40px;
}
#u16 {
  position:absolute;
  left:5px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:130px;
  height:36px;
}
#u17 {
  position:absolute;
  left:10px;
  top:139px;
  width:119px;
  height:25px;
  color:#FFFFFF;
  text-align:left;
}
#u18 {
  position:absolute;
  left:5px;
  top:4px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:174px;
  width:755px;
  height:65px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:31px;
}
#u22 {
  position:absolute;
  left:100px;
  top:0px;
  width:550px;
  height:30px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:546px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u24 {
  position:absolute;
  left:650px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u26 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:31px;
}
#u28 {
  position:absolute;
  left:100px;
  top:30px;
  width:550px;
  height:30px;
  text-align:left;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u30 {
  position:absolute;
  left:650px;
  top:30px;
  width:100px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:1011px;
  height:36px;
}
#u32 {
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:25px;
  color:#FFFFFF;
  text-align:left;
}
#u33 {
  position:absolute;
  left:5px;
  top:3px;
  width:990px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:21px;
}
#u34 {
  position:absolute;
  left:594px;
  top:154px;
  width:166px;
  height:20px;
  text-align:right;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
